* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montseratt', sans-serif;
}

.app {
	background-image: url("https://4.bp.blogspot.com/-8iT_knywI6Q/XTFp8_0ZyaI/AAAAAAAAIkw/5EYYTTjPcrkqwup6PuncyZ8Gj_g4ck09ACKgBGAs/w914-h514-p-k-no-nu/sunrise-minimalist-digital-art-mountain-landscape-uhdpaper.com-8K-51-wp.thumbnail.jpg");
	background-size: cover;
	background-position: bottom;
}

.main {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
	padding: 25px;
}
